.breadcrumbs
  line-height: 1.4
  display: flex
  flex-wrap: wrap
  padding-top: 35px
  padding-bottom: 35px
  font-size: 16px
  @media screen and (max-width: 1023px)
    font-size: 20px





  &__link
    padding-right: 15px
    margin-right: 40px
    position: relative
    color: #999999
    @extend %rlc

    &:before
      content: '/'
      color: #999999
      width: 4px
      height: 4px
      display: block
      position: absolute
      right: 0
      top: 0

    &:last-child
      color: $black
      pointer-events: none
      &:before
        display: none