.ul
  margin-bottom: 25px

  li
    margin-bottom: 20px
    padding-left: 25px
    position: relative
    @media screen and (max-width: 767px)
      padding-left: 15px

    &:before
      content: ''
      width: 10px
      height: 10px
      border-radius: 50%
      background: $red
      position: absolute
      left: 0
      top: 5px
      @media screen and (max-width: 767px)
        width: 7px
        height: 7px

    @media screen and (max-width: 767px)
      font-size: 12px