.footer
  color: $white
  padding: 50px 0
  background-color: $black

  a
    color: $white


  &__item
    font-size: 16px


  &__nav
    display: flex
    gap: 40px

  &__title
    font-size: 22px
    @extend %up
    margin-bottom: 30px

  &__catalog
    margin-bottom: 40px

  &__company
    padding-bottom: 30px
    border-bottom: 1px solid #5A5A5A

  &__bottom
    padding-top: 30px
    @extend %fb
    font-size: 16px

    div
      max-width: 550px

    a
      text-decoration: underline


  &__info
    max-width: 920px
    margin-top: 40px
    font-size: 14px