.general-banner
  background-image: url("../../images/general-banner/bg.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center


  &__wrap
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 30px
    margin-bottom: 40px

  &__content
    color: $white


  &__item
    display: flex
    align-items: center
    margin-bottom: 40px
    @extend %lc

  &__item-icon
    width: 65px
    margin-right: 5px


  &__list
    margin-bottom: 60px

  &__buttons
    display: flex
    grid-gap: 30px


  &__form
    width: 510px
    background-color: rgba($white, 0.6)
    @include r(5px)
    padding: 40px
    margin-left: auto
    height: max-content

    .input
      margin-bottom: 25px

    .btn
      height: 78px
      line-height: 78px


  &__form-title
    font-size: 35px
    margin-bottom: 30px
    @extend %700


  &__model
    margin-bottom: 40px
    
    
  &__types
    display: flex
    justify-content: space-between

  &__type
    color: $white
    background-color: $black
    width: 270px
    height: 250px
    padding: 20px 20px
    text-align: center
    @extend %up
    @include r(5px)
    font-size: 17px


  &__type-img
    height: 160px
    margin-bottom: 20px

