.product-card
  .btn
    height: 82px
    line-height: 82px
    @media screen and (max-width: 767px)
      height: 66px
      line-height: 66px
      min-width: 219px


  .btn--black
    width: 351px
    @media screen and (max-width: 1023px)
      width: 100%


  &__wrap
    display: grid
    grid-template-columns: 900px auto
    grid-gap: 110px
    @media screen and (max-width: 1919px)
      grid-template-columns: 1fr
      grid-gap: 100px


  &__mobile-gallery
    display: none
    @media screen and (max-width: 1919px)
      display: block
      width: 920px
    @media screen and (max-width: 1023px)
      width: 600px
    @media screen and (max-width: 767px)
      width: 310px








  &__mobile-gallery-item
    height: 540px
    @media screen and (max-width: 1023px)
      height: 350px
    @media screen and (max-width: 767px)
      height: 240px

  &__gallery
    @media screen and (max-width: 1919px)
      display: none

  &__general-img
    height: 530px
    @include r(5px)
    margin-bottom: 40px
    display: block

  &__img-list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 40px 20px

  &__img
    height: 290px
    @include r(5px)
    display: block

  &__title
    font-size: 50px
    text-transform: initial
    margin-bottom: 20px
    @media screen and (max-width: 1023px)
      font-size: 18px
      text-align: left


  &__available
    @extend %up
    color: $green
    font-size: 14px
    margin-bottom: 60px
    @media screen and (max-width: 1919px)
      margin-bottom: 30px





  &__content .h4
    @extend %up
    margin-bottom: 35px
    @media screen and (max-width: 767px)
      margin-bottom: 20px


  &__line
    margin-bottom: 35px
    @media screen and (max-width: 767px)
      font-size: 14px
      margin-bottom: 20px


  &__colors
    display: flex
    align-items: center
    margin-bottom: 50px

  &__colors-list
    display: flex

  &__color
    opacity: 0
    position: absolute

  &__color + div
    width: 49px
    height: 49px
    background-color: $red
    margin-left: 25px
    border: 1px solid $gray
    cursor: pointer
    @media screen and (max-width: 767px)
      width: 32px
      height: 32px


  &__color:checked
    + div
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00015 16.17L5.53015 12.7C5.34317 12.513 5.08957 12.408 4.82515 12.408C4.56072 12.408 4.30712 12.513 4.12015 12.7C3.93317 12.887 3.82813 13.1406 3.82812 13.405C3.82813 13.5359 3.85391 13.6656 3.90402 13.7865C3.95412 13.9075 4.02756 14.0174 4.12015 14.11L8.30015 18.29C8.69015 18.68 9.32015 18.68 9.71015 18.29L20.2901 7.71C20.4771 7.52302 20.5822 7.26943 20.5822 7.005C20.5822 6.74057 20.4771 6.48698 20.2901 6.3C20.1032 6.11302 19.8496 6.00798 19.5851 6.00798C19.3207 6.00798 19.0671 6.11302 18.8801 6.3L9.00015 16.17Z' fill='white'/%3E%3C/svg%3E%0A")
      background-position: center
      background-repeat: no-repeat

  &__color--white:checked
    + div
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00015 16.17L5.53015 12.7C5.34317 12.513 5.08957 12.408 4.82515 12.408C4.56072 12.408 4.30712 12.513 4.12015 12.7C3.93317 12.887 3.82813 13.1406 3.82812 13.405C3.82813 13.5359 3.85391 13.6656 3.90402 13.7865C3.95412 13.9075 4.02756 14.0174 4.12015 14.11L8.30015 18.29C8.69015 18.68 9.32015 18.68 9.71015 18.29L20.2901 7.71C20.4771 7.52302 20.5822 7.26943 20.5822 7.005C20.5822 6.74057 20.4771 6.48698 20.2901 6.3C20.1032 6.11302 19.8496 6.00798 19.5851 6.00798C19.3207 6.00798 19.0671 6.11302 18.8801 6.3L9.00015 16.17Z' fill='black'/%3E%3C/svg%3E%0A")

  &__buttons
    display: flex
    gap: 25px
    margin-bottom: 80px
    @media screen and (max-width: 1023px)
      flex-wrap: wrap
      margin-bottom: 40px


    .btn--red
      @media screen and (max-width: 1023px)
        width: 100%


  &__whatsapp
    width: 82px
    height: 82px
    @include r(5px)
    background-color: $green
    @extend %fc
    @media screen and (max-width: 767px)
      width: 66px
      height: 66px


.product-card-slider
  margin-bottom: 40px
  width: 810px
  @media screen and (max-width: 1023px)
    width: 600px
  @media screen and (max-width: 767px)
    width: 310px


  &__item
    width: 200px
    height: 80px
    margin: 0 15px

.product-advantages
  &__wrap
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 30px
    @media screen and (max-width: 1919px)
      grid-template-columns: 1fr 1fr
      grid-gap: 20px
      margin-bottom: 0 !important

  &__item
    background-color: $white
    text-align: center
    min-height: 127px
    @extend %fy
    justify-content: center
    padding: 15px 40px !important
    box-shadow: 0 4px 20px 0 rgba(167, 167, 167, 0.25)
    margin-bottom: 0 !important
    @media screen and (max-width: 767px)
      padding: 5px !important


    &:last-child
      @media screen and (max-width: 1919px)
        grid-column: 1/3


    span
      font-size: 18px !important
      z-index: 1
      @media screen and (max-width: 767px)
        font-size: 14px !important
        width: 130px


.product-characteristic
  &__wrap-first
    display: grid
    grid-template-columns: 900px auto
    grid-gap: 110px
    font-size: 16px
    margin-bottom: 100px
    @media screen and (max-width: 1919px)
      grid-template-columns: 1fr
      grid-gap: 20px
      margin-bottom: 30px


    p
      margin-bottom: 25px

    li
      margin-bottom: 25px

  &__wrap-second
    display: grid
    grid-template-columns: auto 810px
    grid-gap: 110px
    font-size: 16px
    @media screen and (max-width: 1919px)
      grid-template-columns: 1fr
      grid-gap: 30px

  &__col
    display: block
    @media screen and (max-width: 767px)
      font-size: 12px


    &.img
      @media screen and (max-width: 1919px)
        min-height: 760px
        order: -1
      @media screen and (max-width: 1023px)
        min-height: 500px
      @media screen and (max-width: 767px)
        min-height: 260px


  &__col .h3
    font-size: 30px
    margin-bottom: 40px
    @media screen and (max-width: 767px)
      margin-bottom: 20px
      font-size: 20px

  &__row
    border-bottom: 1px dotted #DADADA
    @extend %fb
    margin-bottom: 25px
    @extend %lc
    @media screen and (max-width: 767px)
      gap: 10px
      span:last-child
        text-align: right


.product-video
  &__wrap
    display: block
    height: 620px
    @media screen and (max-width: 767px)
      height: 220px


.product-analogue
  @media screen and (max-width: 767px)
    margin-bottom: 40px


  &__item
    padding: 30px
    @include r(10px)
    background-color: $gray-light
    max-width: 650px
    margin: 0 15px

  &__sign
    font-size: 14px
    display: block
    margin-bottom: 10px

  &__item-buttons
    display: flex
    gap: 15px

    .btn
      height: 83px
      line-height: 83px
      min-width: 275px

  &__img
    height: 360px
    @include r(10px)
    overflow: hidden
    position: relative
    margin-bottom: 25px

    img
      @extend %transition
      filter: grayscale(100%)

    &:hover img
      filter: grayscale(0)

  &__tooltip
    position: absolute
    right: 15px
    top: 15px
    background-color: $white
    z-index: 2
    width: 28px
    height: 28px
    @include r(50%)

  &__content
    margin-bottom: 30px

  &__content-item
    display: flex
    align-items: center
    gap: 5px
    margin-bottom: 15px
    @extend %lc


  &__button
    @extend %fx

    .special-btn
      width: 525px
      height: 123px
      line-height: 123px

      &:after
        background-color: $black
        width: 68px
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.38123 2.91633C8.11199 3.16269 7.96074 3.48585 7.96074 3.81475C7.96074 4.14366 8.11199 4.45138 8.38123 4.67024L15.4904 10.4473L8.38123 16.9501C8.11962 17.1974 7.97486 17.5181 7.97813 17.8431C7.9814 18.1682 8.13245 18.4716 8.39873 18.688C8.66501 18.9043 9.02522 19.0164 9.40179 19C9.77835 18.9836 10.1411 18.8401 10.412 18.6003L18.5365 11.1687C18.8058 10.9224 18.957 10.5992 18.957 10.2703C18.957 9.94138 18.8058 9.63366 18.5365 9.4148L10.412 2.81267C10.1427 2.59388 9.77745 2.48189 9.39662 2.50133C9.01579 2.52077 8.65056 2.67005 8.38123 2.91633Z' fill='white' /%3E%3C/svg%3E")

  &__slider
    margin-top: 80px
    @media screen and (max-width: 1919px)
      margin-bottom: 80px






.card
  padding: 30px
  @include r(10px)
  background-color: $gray-light
  max-width: 650px
  margin: 0 15px
  @media screen and (max-width: 1919px)
    max-width: 100%
    margin: 0
  @media screen and (max-width: 767px)
    padding: 15px


  &__sign
    font-size: 14px
    display: block
    margin-bottom: 10px
    @media screen and (max-width: 767px)
      font-size: 12px


  &__item-buttons
    display: flex
    gap: 15px
    @media screen and (max-width: 1919px)
      flex-direction: column


    .btn
      height: 83px
      line-height: 83px
      min-width: 250px
      @media screen and (max-width: 1919px)
        height: 66px
        line-height: 66px
        width: 100%
      @media screen and (max-width: 1023px)
        height: 56px
        line-height: 56px

  &__img
    height: 360px
    @include r(10px)
    overflow: hidden
    position: relative
    margin-bottom: 25px
    @media screen and (max-width: 1919px)
      height: 180px


    img
      @extend %transition
      filter: grayscale(100%)

    &:hover img
      filter: grayscale(0)

  &__tooltip
    position: absolute
    right: 15px
    top: 15px
    background-color: $white
    z-index: 2
    width: 28px
    height: 28px
    @include r(50%)

  &__content
    margin-bottom: 30px

  &__content-item
    display: flex
    align-items: center
    gap: 5px
    margin-bottom: 15px
    @extend %lc

  &__slider

  &__button
    @extend %fx

    .special-btn
      width: 525px
      height: 123px
      line-height: 123px

      &:after
        background-color: $black
        width: 68px
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.38123 2.91633C8.11199 3.16269 7.96074 3.48585 7.96074 3.81475C7.96074 4.14366 8.11199 4.45138 8.38123 4.67024L15.4904 10.4473L8.38123 16.9501C8.11962 17.1974 7.97486 17.5181 7.97813 17.8431C7.9814 18.1682 8.13245 18.4716 8.39873 18.688C8.66501 18.9043 9.02522 19.0164 9.40179 19C9.77835 18.9836 10.1411 18.8401 10.412 18.6003L18.5365 11.1687C18.8058 10.9224 18.957 10.5992 18.957 10.2703C18.957 9.94138 18.8058 9.63366 18.5365 9.4148L10.412 2.81267C10.1427 2.59388 9.77745 2.48189 9.39662 2.50133C9.01579 2.52077 8.65056 2.67005 8.38123 2.91633Z' fill='white' /%3E%3C/svg%3E")