{% set page = { title: 'Раздел техники' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}
    {% set  _ = 'breadcrumbs' %}
    <div class="{{ _ }}">
        <div class="container-lg">
            <div class="{{ _ }}__wrap">
                {% set  list = [
                    'Главная',
                    'Тягачи'] %}

                {% for item in list %}
                    <a href="#" class="{{ _ }}__link">
                        {{ item }}
                    </a>

                {% endfor %}
            </div>
        </div>
    </div>


    {% set  _ = 'catalog-banner' %}
    <div class="{{ _ }} section">
        <div class="container-lg">
            <div class="{{ _ }}__wrap">
                <h1 class="h1">Тягачи SHACMAN</h1>
                <div class="{{ _ }}__text">
                    <p>Краткий текст Краткий текст Краткий текст Краткий текст Краткий текст Краткий текст Краткий текст
                        Краткий текст Краткий текстКраткий текст Краткий текст Краткий текст Краткий текст Краткий текст
                        Краткий текстКраткий текст Краткий текст Краткий </p>

                </div>

                <div class="{{ _ }}__radio">
                    <span>Колёсная формула:</span>
                    <label class="{{ _ }}__radio-button">
                        <input type="radio" name="format" checked>
                        <span>ВСЕ</span>
                    </label>
                    <label class="{{ _ }}__radio-button">
                        <input type="radio" name="format">
                        <span>4x2</span>
                    </label>
                    <label class="{{ _ }}__radio-button">
                        <input type="radio" name="format">
                        <span>6x4</span>
                    </label>
                    <label class="{{ _ }}__radio-button">
                        <input type="radio" name="format">
                        <span>6x6</span>
                    </label>
                </div>


                <div class="{{ _ }}__radio">
                    <span>Кабина:</span>
                    <label class="{{ _ }}__radio-button">
                        <input type="radio" name="format-1" checked>
                        <span>ВСЕ</span>
                    </label>
                    <label class="{{ _ }}__radio-button">
                        <input type="radio" name="format-1">
                        <span>X3000</span>
                    </label>
                    <label class="{{ _ }}__radio-button">
                        <input type="radio" name="format-1">
                        <span>X6000</span>
                    </label>
                </div>




            </div>
        </div>
    </div>

    
    {% set  _ = 'catalog' %}
    <div class="{{ _ }} section">
        <div class="container-lg">
            <h2 class="h2 h2--underline">Каталог</h2>
            <div class="{{_}}__filters">
                <div class="{{_}}__filter">
                    <span>Колёсная формула:</span>
                    <select id="selectElement">
                        <option>ВСЕ</option>
                        <option>4x2</option>
                        <option>6x4</option>
                        <option>6x6</option>
                    </select>
                </div>

                <div class="{{_}}__filter">
                    <span>Кабина:</span>
                    <select id="selectElement2">
                        <option>ВСЕ</option>
                        <option>X 3000</option>
                        <option>X 6000</option>
                    </select>
                </div>
            </div>
            <div class="{{ _ }}__wrap">
                {% for i in range(1, 9) %}
                    {% set  _ = 'card' %}
                    <div class="{{ _ }}">
                        <h4 class="h4">ТЯГАЧ SHACMAN X 6000 4х2 480 л.с</h4>
                        <div class="{{ _ }}__sign">
                            FWGWHGBWHWH
                        </div>
                        <div class="{{ _ }}__img img">
                            <img src="images/catalog/{{ i }}.jpg" alt=""/>
                            <div class="{{ _ }}__tooltip" title="Доп. информация">
                                <img src="images/{{ _ }}/1.svg" alt=""/>
                            </div>
                        </div>
                        <div class="{{ _ }}__content">
                            <div class="{{ _ }}__content-item">
                                <strong>Год выпуска: </strong><span>2023</span>
                            </div>
                            <div class="{{ _ }}__content-item">
                                <strong>Топливный бак, л: </strong><span>1480</span>
                            </div>
                            <div class="{{ _ }}__content-item">
                                <strong>Состояние техники: </strong><span>Новое</span>
                            </div>

                        </div>
                        <div class="{{ _ }}__item-buttons">
                            <a href="#" class="btn btn--red">УЗНАТЬ СТОИМОСТЬ</a>
                            <a href="#" class="btn">ПОДРОБНЕЕ</a>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




    {% set  _ = 'general-manager' %}
    <div class="{{ _ }} section">
        <div class="container-lg">
            <h2 class="h2 h2--underline">Задайте вопрос менеджеру</h2>
            <div class="{{ _ }}__wrap">
                <div class="{{ _ }}__information">
                    <div class="{{ _ }}__general">
                        <div class="{{ _ }}__img img">
                            <img src="images/{{ _ }}/1.jpg" alt=""/>
                        </div>
                        <div class="{{ _ }}__general-information">
                            <div class="{{ _ }}__online">
                                <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="7" cy="6" rx="7" ry="6" fill="#00D53C"/>
                                </svg>
                                Online
                            </div>
                            <div class="{{ _ }}__name">
                                Иван Иванов
                            </div>
                            <div class="{{ _ }}__post">
                                Менеджер отдела продаж
                            </div>
                            <a href="#" class="btn">СВЯЗАТЬСЯ</a>

                        </div>

                    </div>
                    <div class="{{ _ }}__contacts">
                        <h3 class="h3">Контакты</h3>


                        <div class="{{ _ }}__item">
                            <div class="{{ _ }}__item-icon">
                                <img src="images/{{ _ }}/1.svg" alt=""/>
                            </div>
                            <div class="{{ _ }}__item-text">
                                <a href="#"> info@specmachin.ru</a>

                            </div>
                        </div>
                        <div class="{{ _ }}__item">
                            <div class="{{ _ }}__item-icon">
                                <img src="images/{{ _ }}/2.svg" alt=""/>
                            </div>
                            <div class="{{ _ }}__item-text">
                                Новосибирск ул. Фрунзе, 80 офис 417
                            </div>
                        </div>
                        <div class="{{ _ }}__item">
                            <div class="{{ _ }}__item-icon">
                                <img src="images/{{ _ }}/3.svg" alt=""/>
                            </div>
                            <div class="{{ _ }}__item-text">
                                <a href="#"> 8-800-700-65-55</a>

                            </div>
                        </div>
                    </div>


                </div>
                <form href="#" class="{{ _ }}__form">
                    <input type="text" class="input" placeholder="Имя">
                    <input type="text" class="input" placeholder="Телефон">
                    <textarea class="textarea" placeholder="Задайте вопрос"></textarea>
                    <button class="btn btn--red"> Задать вопрос</button>
                </form>
            </div>
        </div>
    </div>
    {% set  _ = 'general-brands' %}
    <div class="{{ _ }} section">
        <div class="container-lg">
            <h2 class="h2 h2--underline">Бренды</h2>
            <div class="{{ _ }}__wrap">
                <div class="{{ _ }}__text">
                    Предлагаем вам широкий ассортимент продукции, который в совокупности с нашими услугами поможет
                    повысить эффективность вашего бизнеса, автоматизировать бизнес- процессы и защитит
                    <br> вас от киберпреступников.

                </div>
                <div class="{{ _ }}__list">
                    {% for i in range(1, 3) %}
                        <div class="{{ _ }}__item">
                            <img src="images/{{ _ }}/{{ loop.index }}.png" alt=""/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}