{% set page = { title: 'Контентная страница' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}
    {% set  _ = 'breadcrumbs' %}
    <div class="{{ _ }}">
        <div class="container-lg">
            <div class="{{ _ }}__wrap">
                {% set  list = [
                    'Главная',
                    'Контентная страница'] %}

                {% for item in list %}
                    <a href="#" class="{{ _ }}__link">
                        {{ item }}
                    </a>

                {% endfor %}
            </div>
        </div>
    </div>



    {% set  _ = 'content' %}
    <div class="{{ _ }} section section--no-top">
        <div class="container-lg">
            <div class="{{ _ }}__wrap">
                <h1 class="h2 h2--underline">Заголовок H1 для контентной страницы</h1>
                <br>
                <p>
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание
                </p>
                <br>
                <img src="images/{{ _ }}/1.jpg" alt=""/>
                <h3 class="h3">Особенности технологии</h3>
                <ul class="ul">
                    <li>КПГ – природные компримированные газы;</li>
                    <li>СПГ – сжиженные природные газы;</li>
                    <li>Смеси КПГ и дизельного топлива.</li>
                </ul>
                <p>
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описаниеТекст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описаниеТекст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание
                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                    описание
                    <a href="#">ссылка для текста</a>
                </p>

                <div class="content-gallery custom-slick-arrow">
                    {% for i in range(1, 2) %}
                        <div class="content-gallery__item img">
                            <img src="images/{{ _ }}/2.jpg" alt=""/>
                        </div>
                    {% endfor %}
                </div>

                <h3 class="h3">Таблица</h3>


                {% set  list = [{
                    title: 'Марка:',
                    subtitle: 'SHACMAN'

                },    {
                    title: 'Модель',
                    subtitle: 'Самосвал SX331863366'
                },   {
                    title: 'Год выпуска',
                    subtitle: '2022'
                },   {
                    title: 'Экологический класс',
                    subtitle: 'Евро-5'
                },   {
                    title: 'Тип кабины',
                    subtitle: 'X3000'
                },   {
                    title: 'Внешние габариты (ДхШхВ)',
                    subtitle: '10500х2490х3450 мм'
                },   {
                    title: 'Габариты кузова (ДхШхВ)',
                    subtitle: '7600х2300х1500 мм(надставка 500 мм)'
                },   {
                    title: 'Внутренний объем кузова',
                    subtitle: '26 с надставкой 34 м3'
                },   {
                    title: 'Кузов Дно / Борт',
                    subtitle: '8/6 мм'
                },   {
                    title: 'Колесная формула',
                    subtitle: '8х4 мм'
                },   {
                    title: 'База',
                    subtitle: '1800+3775 +1400 мм'
                },   {
                    title: 'Колея передних/задних колес',
                    subtitle: '2036/1850 мм'
                },   {
                    title: 'Минимальный клиренс',
                    subtitle: '314 мм'
                },   {
                    title: 'Снаряженная масса',
                    subtitle: '18500-19500 кг'
                },   {
                    title: 'Максимальный угол подъёма',
                    subtitle: '30'
                },   {
                    title: 'Расход топлива от ',
                    subtitle: '38 л/100 км'
                },   {
                    title: 'Минимальный радиус разворота',
                    subtitle: '25 м'
                },   {
                    title: 'Двигатель модель',
                    subtitle: 'WEICHAI WP13.550Е501'
                }] %}


                <div class="content-table">
                    {% for item in list %}
                        <div class="content-table__item">
                            <span>{{ item.title }}</span>
                            <span>{{ item.subtitle }}</span>
                        </div>
                    {% endfor %}
                </div>


                <h2 class="h2 h2--underline">
                    Раскрывашка
                </h2>
                <div class="accordion">
                    {% for i in range(1, 4) %}
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <strong>Предложение</strong>
                                <span>Описание</span>
                            </div>
                            <div class="accordion__body">
                                <h4 class="h4">Особенности технологии</h4>
                                <ul class="ul">
                                    <li>КПГ – природные компримированные газы;</li>
                                    <li>Смеси КПГ и дизельного топлива.</li>
                                    <li>Смеси КПГ и дизельного топлива.</li>
                                </ul>
                                <p>Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описаниеТекст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описаниеТекст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание Текст описание Текст описание Текст описание Текст описание
                                    Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                                    описание Текст описание ссылка для текста</p>
                                <br>
                                <a href="#" class="btn btn--red">
                                    КНОПКА
                                </a>


                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>



    {% set  _ = 'content-read' %}
    <div class="{{ _ }} section section--no-top">
        <div class="container-lg">
            <h2 class="h2 h2--underline">
                Читайте так же
            </h2>
            <div class="{{ _ }}__wrap custom-slick-arrow">
                {% for i in range(1, 3) %}
                    <div class="{{ _ }}__item">
                        <div class="{{ _ }}__img img">
                            <img src="images/{{ _ }}/{{ loop.index }}.jpg" alt=""/>
                        </div>
                        <div class="{{ _ }}__text">
                            <strong>Shacman x6000</strong>
                            <span>Здесь будет пояснительный и небольшой текст о статье, чтобы привлечь внимание Здесь будет пояснительный и небольшой текст о статье, чтобы привлечь внимание........</span>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>




    {% set  _ = 'general-manager' %}
    <div class="{{ _ }} section">
        <div class="container-lg">
            <h2 class="h2 h2--underline">Задайте вопрос менеджеру</h2>
            <div class="{{ _ }}__wrap">
                <div class="{{ _ }}__information">
                    <div class="{{ _ }}__general">
                        <div class="{{ _ }}__img img">
                            <img src="images/{{ _ }}/1.jpg" alt=""/>
                        </div>
                        <div class="{{ _ }}__general-information">
                            <div class="{{ _ }}__online">
                                <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="7" cy="6" rx="7" ry="6" fill="#00D53C"/>
                                </svg>
                                Online
                            </div>
                            <div class="{{ _ }}__name">
                                Иван Иванов
                            </div>
                            <div class="{{ _ }}__post">
                                Менеджер отдела продаж
                            </div>
                            <a href="#" class="btn">СВЯЗАТЬСЯ</a>

                        </div>

                    </div>
                    <div class="{{ _ }}__contacts">
                        <h3 class="h3">Контакты</h3>


                        <div class="{{ _ }}__item">
                            <div class="{{ _ }}__item-icon">
                                <img src="images/{{ _ }}/1.svg" alt=""/>
                            </div>
                            <div class="{{ _ }}__item-text">
                                <a href="#"> info@specmachin.ru</a>

                            </div>
                        </div>
                        <div class="{{ _ }}__item">
                            <div class="{{ _ }}__item-icon">
                                <img src="images/{{ _ }}/2.svg" alt=""/>
                            </div>
                            <div class="{{ _ }}__item-text">
                                Новосибирск ул. Фрунзе, 80 офис 417
                            </div>
                        </div>
                        <div class="{{ _ }}__item">
                            <div class="{{ _ }}__item-icon">
                                <img src="images/{{ _ }}/3.svg" alt=""/>
                            </div>
                            <div class="{{ _ }}__item-text">
                                <a href="#"> 8-800-700-65-55</a>

                            </div>
                        </div>
                    </div>


                </div>
                <form href="#" class="{{ _ }}__form">
                    <input type="text" class="input" placeholder="Имя">
                    <input type="text" class="input js--tel" placeholder="Телефон">
                    <textarea class="textarea" placeholder="Задайте вопрос"></textarea>
                    <button class="btn btn--red"> Задать вопрос</button>
                </form>
            </div>
        </div>
    </div>
    {% set  _ = 'general-brands' %}
    <div class="{{ _ }} section">
        <div class="container-lg">
            <h2 class="h2 h2--underline">Бренды</h2>
            <div class="{{ _ }}__wrap">
                <div class="{{ _ }}__text">
                    Предлагаем вам широкий ассортимент продукции, который в совокупности с нашими услугами поможет
                    повысить эффективность вашего бизнеса, автоматизировать бизнес- процессы и защитит
                    <br> вас от киберпреступников.

                </div>
                <div class="{{ _ }}__list">
                    {% for i in range(1, 3) %}
                        <div class="{{ _ }}__item">
                            <img src="images/{{ _ }}/{{ loop.index }}.png" alt=""/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}