{% set page = { title: 'Ссылки' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}


    <div style="margin-top: 100px">
        <div class="container">


            {% set  list = [{
                title: 'Главная',
                subtitle: 'general'

            },{
                title: 'Карточка товара',
                subtitle: 'product-card'

            },{
                title: 'Раздел техники',
                subtitle: 'catalog'

            },{
                title: 'Каталог',
                subtitle: 'catalog-general'

            }] %}
            {% for item in list %}
                <a href="{{ item.subtitle }}.html" class="btn"
                   style="display: block; width: 100%; margin-bottom: 15px">{{ item.title }}</a>
            {% endfor %}


            <h2 class="h2">Попапы</h2>


            {% set  _ = 'popup' %}


            <div class="{{ _ }} {{ _ }}--action">
                <h2 class="h2">Наши акции</h2>
                <div class="{{ _ }}__form">

                    <span>Оставьте свои данные и наш менеджер <br>  пришлёт вам выгодные акции </span>
                    <input type="text" class="input js--tel" placeholder="Телефон">
                    <input type="text" class="input" placeholder="Email">
                    <button class="btn btn--red">Заказать звонок</button>
                </div>

            </div>

            <br>

            <div class="{{ _ }} {{ _ }}--callback">
                <h2 class="h2">Заказать звонок</h2>
                <div class="{{ _ }}__form">

                    <span>Оставьте свои данные и наш менеджер <br>  свяжется с вами в ближайшее время</span>
                    <input type="text" class="input js--tel" placeholder="Телефон">
                    <input type="text" class="input" placeholder="Email">
                    <button class="btn btn--red">Заказать звонок</button>
                </div>
            </div>

            <br>

            <div class="{{ _ }} {{ _ }}--services">
                <h2 class="h2">Наш сервис</h2>
                <div class="{{ _ }}__form">

                    <span>Оставьте свои данные и наш менеджер <br>  свяжется с вами в ближайшее время </span>
                    <input type="text" class="input js--tel" placeholder="Телефон">
                    <input type="text" class="input" placeholder="Email">
                    <button class="btn btn--red">Заказать звонок</button>
                </div>
            </div>
            <br>

            <div class="{{ _ }} {{ _ }}--price">
                <div class="{{ _ }}__wrap">
                    <div>
                        <h2 class="h2">Узнать цену</h2>
                        <strong>ТЯГАЧ SHACMAN X 6000 4х2 480 л.с</strong>
                        <div class="{{ _ }}__form">

                            <span>Оставьте свои данные и наш менеджер  <br> пришлет прайс, на данную модель</span>
                            <input type="text" class="input js--tel" placeholder="Телефон">
                            <input type="text" class="input" placeholder="Email">
                            <button class="btn btn--red">Заказать звонок</button>
                        </div>
                    </div>
                    <div class="{{ _ }}__img img">
                        <img src="images/{{ _ }}/4.jpg" alt=""/>
                    </div>

                </div>

            </div>


        </div>
    </div>

{% endblock content %}