{% set page = { title: 'Вакансии' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}
    <div class="container">
        <h2 class="h2 h2--underline">
            Вакансии
        </h2>
        <div class="accordion">
            {% for i in range(1, 4) %}
                <div class="accordion__item">
                    <div class="accordion__head">
                        <strong>Предложение</strong>
                        <span>Описание</span>
                    </div>
                    <div class="accordion__body">
                        <h4 class="h4">Особенности технологии</h4>
                        <ul class="ul">
                            <li>КПГ – природные компримированные газы;</li>
                            <li>Смеси КПГ и дизельного топлива.</li>
                            <li>Смеси КПГ и дизельного топлива.</li>
                        </ul>
                        <p>Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описаниеТекст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описаниеТекст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание Текст описание Текст описание Текст описание Текст описание
                            Текст описание Текст описание Текст описание Текст описание Текст описание Текст
                            описание Текст описание ссылка для текста</p>
                        <br>
                        <a href="#" class="btn btn--red">
                            КНОПКА
                        </a>


                    </div>
                </div>
            {% endfor %}
        </div>
    </div> 



{% endblock content %}