.custom-slick-arrow
  .slick-arrow
    font-size: 0
    width: 50px
    height: 50px
    @include r(50%)
    border: 1px solid $transparent
    position: absolute
    top: 50%
    z-index: 1
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 0C11.225 0 0 11.225 0 25C0 38.775 11.225 50 25 50C38.775 50 50 38.775 50 25C50 11.225 38.775 0 25 0ZM31.975 26.325L23.15 35.15C22.775 35.525 22.3 35.7 21.825 35.7C21.35 35.7 20.875 35.525 20.5 35.15C19.775 34.425 19.775 33.225 20.5 32.5L28 25L20.5 17.5C19.775 16.775 19.775 15.575 20.5 14.85C21.225 14.125 22.425 14.125 23.15 14.85L31.975 23.675C32.725 24.4 32.725 25.6 31.975 26.325Z' fill='%23A78BFA'/%3E%3C/svg%3E%0A")
    background-color: transparent
    background-repeat: no-repeat
    @extend %transition
    cursor: pointer

    &:hover
      background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 0C11.225 0 0 11.225 0 25C0 38.775 11.225 50 25 50C38.775 50 50 38.775 50 25C50 11.225 38.775 0 25 0ZM31.975 26.325L23.15 35.15C22.775 35.525 22.3 35.7 21.825 35.7C21.35 35.7 20.875 35.525 20.5 35.15C19.775 34.425 19.775 33.225 20.5 32.5L28 25L20.5 17.5C19.775 16.775 19.775 15.575 20.5 14.85C21.225 14.125 22.425 14.125 23.15 14.85L31.975 23.675C32.725 24.4 32.725 25.6 31.975 26.325Z' fill='%23F472B6'/%3E%3C/svg%3E%0A")


  .slick-next
    right: -15px

  .slick-prev
    transform: rotate(180deg)
    left: -15px


.custom-slick-dots
  .slick-dots
    position: absolute
    left: 50%
    transform: translateX(-50%)
    display: flex
    gap: 25px
    bottom: 100px

    button
      font-size: 0
      width: 20px
      height: 20px
      @include r(50%)
      border: none
      background-color: $violet

    .slick-active button
      background-color: $pink


.up-btn
  cursor: pointer
  width: 50px
  height: 50px
  line-height: 50px
  text-align: center
  @include r(50%)
  background-color: $red
  color: $white
  right: 15px
  bottom: 15px
  position: fixed
  z-index: 10
  display: none
  svg
    margin-top: 13px
  @media screen and (max-width: 1023px)
    width: 30px
    height: 30px
    background-size: contain
  
  	
  