.custom-slick-arrow
  .slick-arrow
    font-size: 0
    width: 45px
    height: 85px
    border: 1px solid $transparent
    position: absolute
    top: 50%
    z-index: 1
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_356_124)'%3E%3Cpath d='M7.40508 3.16982C7.15136 3.4432 7.00883 3.80181 7.00883 4.1668C7.00883 4.53179 7.15136 4.87327 7.40508 5.11614L14.1043 11.5269L7.40508 18.7431C7.15855 19.0176 7.02214 19.3735 7.02522 19.7342C7.0283 20.0949 7.17064 20.4316 7.42157 20.6717C7.67249 20.9118 8.01194 21.0362 8.36679 21.018C8.72164 20.9998 9.06351 20.8405 9.31876 20.5744L16.9748 12.3275C17.2286 12.0542 17.3711 11.6955 17.3711 11.3306C17.3711 10.9656 17.2286 10.6241 16.9748 10.3812L9.31876 3.05479C9.06497 2.81199 8.72079 2.68772 8.36192 2.70929C8.00305 2.73087 7.65888 2.89652 7.40508 3.16982Z' fill='white' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_356_124'%3E%3Crect width='22.0234' height='21.6932' rx='10' transform='matrix(-3.71189e-08 1 -0.998198 0.0600047 21.8965 0.046875)' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
    background-color: #949494
    background-repeat: no-repeat
    background-position: center
    @extend %transition
    cursor: pointer 

    &:hover
      background-color: $red


  .slick-next
    right: -30px
    @include r(5px)

  .slick-prev
    transform: rotate(180deg)
    left: -30px
    @include r(5px)


.custom-slick-dots
  .slick-dots
    position: absolute
    left: 50%
    transform: translateX(-50%)
    display: flex
    gap: 25px
    bottom: -60px

    button
      font-size: 0
      width: 75px
      height: 8px
      @include r(5px)
      border: none
      background-color: #CACACA
      transform: skew(-45deg)

    .slick-active button
      background-color: $red


.up-btn
  cursor: pointer
  width: 50px
  height: 50px
  line-height: 50px
  text-align: center
  @include r(50%)
  background-color: $red
  color: $white
  right: 15px
  bottom: 15px
  position: fixed
  z-index: 10
  display: none
  svg
    margin-top: 13px
  @media screen and (max-width: 1023px)
    width: 30px
    height: 30px
    background-size: contain
  
  	
  