<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.8.2/slimselect.min.css" integrity="sha512-5nyAgbkuF7NkcIydVHNRVgjpsG2k+bBtP7PHOUMwMb/0vtb4rPdxEf1sqPztb6l6T6wEfisDrzZ+vge2QM6bIg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="assets/css/style.css">
<link href="https://fonts.cdnfonts.com/css/geometria" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/2.8.2/slimselect.min.js" integrity="sha512-epC0GMFGR8PG5QlzmOu8w6EXjvL+1/93qGAmsWiyZWCmkqGdV4lhoLuQJ9Mge6hsC+Wn0+M8eQ+AiW63zPQggw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.9/jquery.inputmask.bundle.min.js"></script>#}
<script src="assets/scripts/script.js"></script>